<!DOCTYPE html>
<html ng-app="inspinia">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Bootstrap and Fonts -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css" rel="stylesheet">

    <!-- Plugins CSS files -->
    <link href="css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="css/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet">

    <!-- jQuery and Bootstrap -->
    <script src="js/jquery/jquery-3.1.1.min.js"></script>
    <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- MetsiMenu -->
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SlimScroll -->
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- jQuery Steps -->
    <script src="js/plugins/steps/jquery.steps.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/sweetalert/sweetalert2.min.js"></script>
    <script src="js/plugins/socket.io/socket.io.js"></script>

    <!-- Main Angular scripts-->
    <script src="js/angular/angular.min.js"></script>
    <script src="js/ui-router/angular-ui-router.min.js"></script>
    <script src="js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>


    <!-- Anglar App Script -->
    <script src="js/plugins/sweetalert/SweetAlert.js"></script>
    <script src="js/plugins/angular-websocket/socket.js"></script>
    <script src="js/app.js"></script>
    <script src="js/config.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

</head>

<body ng-controller="MainCtrl as main">

<div ng-repeat="pointer in main.pointers" id="{{'pointer-' + pointer.id}}"
     class="circleContainer">
    <div class="circle circle-top" ng-class="pointer.cssBorder"
         ng-style="{ 'left': (pointer.x - 20) +'px', 'top': (pointer.y - 20) +'px' }">
    </div>
    <div class="circle circle-bottom" ng-class="pointer.cssBorder"
         ng-style="{ 'left': (pointer.x - 20) + 'px', 'top': (pointer.y + 1) +'px' }">
    </div>
</div>

<span class="marker TL"></span>
<span class="marker TR"></span>
<span class="marker BL"></span>
<span class="marker BR"></span>
<span class="marker TC"></span>
<span class="marker BC"></span>
<span class="marker LC"></span>
<span class="marker RC"></span>

<health pointers="main.pointers" id="0" style="top: 130px;left: 10px"></health>
<health pointers="main.pointers" id="1" style="bottom: 130px;left: 10px"></health>
<health pointers="main.pointers" id="2" style="top: 130px;right: 10px"></health>

<!-- Main view  -->
<div ui-view></div>

</body>
</html>
