<div ng-controller="CookingCtrl as ctrl">
    <div class="row wrapper white-bg page-heading" style="padding-bottom:0px">
        <div class="col-md-4">
            <h2>Cooking&nbsp;&nbsp;<i class="fa fa-cutlery"></i>&nbsp;&nbsp;{{ ctrl.recipe.name }}</h2>
        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-danger btn-circle pull-right gaze-click" type="button"
                    style="vertical-align: middle;margin-top:8px"
                    ng-click="ctrl.helpActivation()">
                <i class="fa fa-3x fa-question"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="ibox" ng-repeat="user in ctrl.watchingUsers">
                <div class="ibox-title" ng-class="user.pointer.cssBackground">
                    {{user.name}}
                </div>
                <div class="ibox-content" ng-class="{'sk-loading': !ctrl.getTask(user.task) && !ctrl.isRecipeDone()}">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"
                             ng-class="user.pointer.cssBackground"></div>
                        <div class="sk-double-bounce2"
                             ng-class="user.pointer.cssBackground"></div>
                    </div>
                    <img ng-src="{{user.img}}" class="img-circle" style="width:30%;margin-right:30px;float:left">
                    <!-- <p ng-if="{{ctrl.waitingUsers.indexOf(user) == -1}}"> {{ctrl.getTask(user.task).number}}. {{ctrl.getTask(user.task).description}}</p>-->
                    <p ng-if="ctrl.getTask(user.task)" class="user-instruction"> {{ctrl.getTask(user.task).number}}.
                        {{ctrl.getTask(user.task).description}}</p>
                    <!--<p ng-if="{{ctrl.waitingUsers.indexOf(user) > -1}}"> please waite until a new task is available}</p> -->
                </div>
            </div>
        </div>
        <div class="col-md-1" style="margin-top: 20%;display: flex;justify-content: center;">
            <button class="btn btn-circle btn-primary gaze-click" type="button"
                    ng-click="ctrl.taskButtonClicked()">
                <i class="fa fa-2x fa-arrow-right"></i>
            </button>
        </div>
        <div class="col-md-6">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-2">
                        <h2>Tasks</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="project-completion">
                            <p style="text-align: center">{{ctrl.finishedTasks.length}} / {{ctrl.recipe.steps.length}}
                                steps
                                completed</p>
                            <div class="progress progress-mini">
                                <div style="width: {{(ctrl.finishedTasks.length/ctrl.recipe.steps.length)*100}}%;"
                                     class="progress-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="todo-list m-t ui-sortable">
                    <li ng-repeat="task in ctrl.finishedTasks | orderBy:'number'">
                        <input type="checkbox" class="i-checks" disabled checked/>
                        <span class="m-l-xs">{{task.number}}. {{task.description}}</span>
                    </li>
                    <li ng-repeat="task in ctrl.currentTasks | orderBy:'number'">
                        <input type="checkbox" value="" name="" class="i-checks"/>
                        <span class="m-l-xs">{{task.number}}. {{task.description}}</span>
                        <small class="label"
                               ng-class="ctrl.getUserForTask(task).pointer.cssBackground">
                            <i class="fa fa-user-o"></i> {{ctrl.getUserForTask(task).name}}
                        </small>
                    </li>
                    <li ng-repeat="task in ctrl.untouchedTasks | orderBy:'number'">
                        <input type="checkbox" value="" name="" class="i-checks"/>
                        <span class="m-l-xs">{{task.number}}. {{task.description}}</span>
                    </li>
                    <li ng-repeat="task in ctrl.timerTasks | orderBy:'number'" class="m-t-xl" style="min-height: 80px;">
                        <i class="fa fa-2x fa-clock-o" aria-hidden="true"></i>
                        <span style="font-size: 2em">{{task.remainingTime | millisecondsToDateTime | date:'HH:mm:ss'}}</span>
                        <span class="m-l-xs">{{task.number}}. {{task.description}}</span>
                        <button class="btn btn-circle btn-primary pull-right gaze-click" type="button"
                                ng-click="ctrl.finishTimerTask(task)">
                            <i class="fa fa-2x fa-arrow-right"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>