<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SelectionCtrl as ctrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    Cooking preparation
                </div>
                <div class="ibox-content">
                    <div id="wizard" wizard>
                        <!-- User selection -->
                        <h1>Select users</h1>
                        <div class="step-content">
                            <div class="row wrapper wrapper-content animated fadeInUp">
                                <div class="col-lg-3" ng-repeat="user in ctrl.users">
                                    <div class="ibox-content text-center userselection gaze-click" ng-click="ctrl.addSelectedUser(user)"
                                    ng-class="[user.pointer.cssBorder, {notselected: !ctrl.selectedUsers.includes(user) && ctrl.selectedUsers.length > 0, selected: ctrl.selectedUsers.includes(user)}]">
                                        <h1>{{ user.name }}</h1>
                                        <div class="m-b-sm">
                                            <img alt="image" class="img-circle" ng-src="{{user.img}}" style="width:80%">
                                        </div>
                                        <p class="font-bold"><i class="fa fa-trophy fa-3x"></i><span class="p-sm" style="font-size:1.5em">{{ user.skill }}</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-2 pull-right" id="userselectcounter">
                                    <div class="widget style1 navy-bg">
                                        <div class="row vertical-align">
                                            <div class="col-xs-3">
                                                <i class="fa fa-user fa-3x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <h2 class="font-bold">{{ctrl.numSelectedUsers()}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Recipe selection -->
                        <h1>Select recipe</h1>
                        <div class="step-content">
                            <div class="wrapper wrapper-content animated fadeInUp">
                                <ul class="notes">
                                    <li ng-repeat="recipe in ctrl.recipes" ng-class="{notselected:ctrl.selectedRecipe != recipe && ctrl.selectedRecipe}"
                                        ng-click="ctrl.selectedRecipe = recipe" class="gaze-click">
                                        <div>
                                            <h4>{{ recipe.name }}</h4>
                                            <p>{{recipe.description}}</p>
                                            <img alt="image" class="img-rounded" ng-src="{{ recipe.img }}"
                                                 style="width:100%">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Overview -->
                        <h1>Recipe details</h1>
                        <div class="step-content">
                            <div class="wrapper wrapper-content animated fadeInUp">
                                <div id="vertical-timeline" class="vertical-container dark-timeline"
                                     ng-repeat="step in ctrl.selectedRecipe.steps">
                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                                <strong class="fa-stack-1x fa-stack-text">{{ step.number }}</strong>
                                        </div>
                                        <div class="vertical-timeline-content">
                                            <h2>{{step.description}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>