<div class="widget text-center" ng-class="{'navy-bg': pointer.ok, 'red-bg': !pointer.ok}" ng-if="pointer">
    <table>
        <tr>
            <td>
                <i ng-show="pointer.ok" class="fa fa-eye" aria-hidden="true"></i>
                <i ng-show="!pointer.ok" class="fa fa-eye-slash" aria-hidden="true"></i>
            </td>
            <td>
                {{pointer.id}}
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-user" aria-hidden="true"></i>
            </td>
            <td>
                {{pointer.user.name}}
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
            </td>
            <td ng-if="pointer.time >= 0">
                {{pointer.time | number:2}}
            </td>
            <td ng-if="pointer.time < 0">
                -
            </td>
        </tr>
        <tr>
            <td>
                <i class="fa fa-exclamation" aria-hidden="true"></i>
            </td>
            <td>
                {{pointer.invalidData}}
            </td>
        </tr>
    </table>
</div>